@import "../abstracts/variables";

.navigation {
  @include flexHorizontal;
  align-items: center;
  background-color: $primary-semi-dark-blue;
  padding: 1.5rem;

  ul {
    @include flexHorizontal;
    gap: 2.5rem;
    list-style: none;
  }
  .avatar-circle {
    position: relative;
    width: 2.4rem;
    height: 2.4rem;
    background-color: $primary-white;
    border-radius: 50%;

    .menu-cont {
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translate(-40%, 120%);
      .access-button {
        border-radius: 0.5rem;
        padding: 1rem;
        font-size: 1.2rem;
        background-color: $primary-red;
        border: none;
        color: $primary-white;
        cursor: pointer;
      }
    }
  }
}

.navInactive {
  path {
    fill: $primary-grey-blue;
  }
}

.navActive {
  path {
    fill: $primary-white;
  }
}
