@import "../abstracts/mixins";

.search-cont {
  @include marginCenter;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  gap: 2rem;

  .search-form {
    &__input {
      @include form;
    }
  }
}
