@import "../abstracts/mixins", "../pages/homeAll", "./homeBookmark";

.home-result-cont {
  @include marginCenter;

  .title {
    font-size: 2rem;
    font-weight: weight(regular);
    color: $primary-white;

    @include tablet() {
      font-size: 3.2rem;
    }
  }
}

.search-cont {
  @include marginCenter;
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  gap: 2rem;

  .search-form {
    &__input {
      @include form;
    }
  }
}
