@import "../abstracts/mixins", "../pages/homeAll", "./homeBookmark", "./error";

.home-cont {
  @include desktop() {
    display: grid;
    grid-template-columns: 25fr 75fr;
    margin-top: 2rem;
    max-width: 124rem;
  }

  &__desktop {
    @include desktop() {
      min-width: 124rem;
    }
  }
}

.home-result-cont {
  @include marginCenter;

  .title {
    font-size: 2rem;
    font-weight: weight(regular);
    color: $primary-white;

    @include tablet() {
      font-size: 3.2rem;
    }
  }
}

.search-cont {
  @include marginCenter;
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  gap: 2rem;

  .search-form {
    &__input {
      @include form;

      &:focus {
        border-bottom: 0.1rem solid $primary-grey-blue;
      }
    }

    @include desktop() {
      width: 100%;
    }
  }
}
