.auth-confirmation {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 17%;
  background-color: $primary-green;
  font-size: 2.4rem;
  font-weight: weight(bold);
  padding: 0.5rem;
  color: $primary-white;

  &--error {
    @extend .auth-confirmation;
    width: 92%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: $primary-red;

    p {
      text-align: center;
    }
  }
}

.auth-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  .form-cont {
    @include borderRadius;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem 2rem;
    align-self: stretch;
    background-color: $primary-semi-dark-blue;

    h1 {
      color: $primary-white;
      font-size: 3.2rem;
      font-weight: weight(regular);
    }

    p {
      color: $primary-white;
      font-size: 1.5rem;
      text-align: center;

      a {
        color: $primary-red;
        text-decoration: none;
      }
    }

    &__inputs {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      &-button {
        margin-top: 2rem;
        border-radius: 0.5rem;
        padding: 1.5rem 0rem;
        font-size: 1.5rem;
        background-color: $primary-red;
        border: none;
        color: $primary-white;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          background-color: $primary-white;
          color: black;
        }
      }

      .input-cont {
        position: relative;
      }

      .form-cont__input {
        @include form;
        width: 100%;
        position: relative;
        padding: 0rem 0rem 1.5rem 1rem;
        border-bottom: 0.15rem solid $primary-grey-blue;

        &:focus {
          border-bottom: 0.15rem solid $primary-white;
        }

        &--error {
          color: $primary-red;
          background-color: $primary-semi-dark-blue;
          font-size: 1.3rem;
          position: absolute;
          top: 5%;
          right: 5%;
        }
      }
    }
  }
}

.user-cont {
  @include marginCenter;
  margin-top: 5rem;
}
