// functions and mixins
@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

@mixin flexHorizontal {
  display: flex;
  justify-content: space-between;
}

@mixin marginCenter {
  width: 92%;
  margin: 0 auto;
}

@mixin form {
  font-family: "Outfit", sans-serif;
  font-size: 1.7rem;
  font-weight: weight(regular);
  color: $primary-white;
  background-color: transparent;
  border: none;
  outline: none;
  caret-color: $primary-red;
}
