// functions and mixins
@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

@mixin flexHorizontal {
  display: flex;
  justify-content: space-between;
}

@mixin marginCenter {
  width: 92%;
  margin: 0 auto;
}
