$primary-red: #fc4747;
$primary-white: #ffffff;
$primary-green: #55c57a;
$primary-grey-blue: #5a698f;
$primary-dark-blue: #10141e;
$primary-semi-dark-blue: #161d2f;

$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);
